table, th, td {
  border: 1px solid;
}

th, td {
  padding: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

input[type='submit']:valid {
  border: unset;
  border: 1px solid gray;
  border-radius: 3px;
}
