* {
  background-color: #fdfdf1d7;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;   /* Add 'Roboto' here */
  line-height: 1.8em;
  color: #6d747a9e;
  font-weight: 200;
}

#header-banner {
  height: 300px;
  border-bottom: 1px solid #88909858;
}

#header {
  height: 45px;
  margin-top: 1em;
  text-align: center;
  border-bottom: 1px solid #889098;
}


#header-right {
  margin-right: 1em;
  text-indent: .5em;
}

#banner {
  height: 248px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

#header-right {
  text-align: right;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#content-card {
  margin: 2em;
  text-align: center;
}

li {
  padding: 2em;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

li:hover {
  box-shadow: rgba(50, 50, 50, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}